<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotaotech.dao.AgentClientMapper">
    <resultMap id="BaseResultMap" type="com.taotaotech.domain.AgentClient">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="eng_name" jdbcType="VARCHAR" property="engName"/>
        <result column="attribution" jdbcType="VARCHAR" property="attribution"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="chief_name" jdbcType="VARCHAR" property="chiefName"/>
        <result column="fax_no" jdbcType="VARCHAR" property="faxNo"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="whose_client" jdbcType="VARCHAR" property="whoseClient"/>
        <result column="sale_area" jdbcType="VARCHAR" property="saleArea"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code ,name, eng_name, attribution, area_name, chief_name, fax_no, telephone, level,
    whose_client, sale_area, descript, create_date, update_date, del_flag
  </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_client
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_client t
        <where>
            del_flag = 0
            <if test="name != null and name != ''">
                and name =  #{name,jdbcType=VARCHAR}
            </if>
            <if test="eng_name != null and eng_name != ''">
                and eng_name =  #{eng_name,jdbcType=VARCHAR}
            </if>
            <if test="attribution != null and attribution != ''">
                and attribution = #{attribution}
            </if>
            <if test="area_name != null and area_name != ''">
                and area_name = #{area_name}
            </if>
            <if test="chief_name != null and chief_name != ''">
                and chief_name = #{chief_name}
            </if>
            <if test="fax_no != null and fax_no != ''">
                and fax_no = #{fax_no}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
            <if test="whose_client != null and whose_client != ''">
                and whose_client = #{whose_client}
            </if>
            <if test="sale_area != null and sale_area != ''">
                and sale_area = #{sale_area}
            </if>
        </where>
        limit 1
    </select>

    <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_client t
        <where>
            del_flag = 0
            <if test="name != null and name != ''">
                and name LIKE '%' #{name} '%'
            </if>
            <if test="eng_name != null and eng_name != ''">
                and eng_name LIKE '%' #{eng_name} '%'
            </if>
            <if test="attribution != null and attribution != ''">
                and attribution = #{attribution}
            </if>
            <if test="area_name != null and area_name != ''">
                and area_name = #{area_name}
            </if>
            <if test="chief_name != null and chief_name != ''">
                and chief_name = #{chief_name}
            </if>
            <if test="fax_no != null and fax_no != ''">
                and fax_no = #{fax_no}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
            <if test="whose_client != null and whose_client != ''">
                and whose_client = #{whose_client}
            </if>
            <if test="sale_area != null and sale_area != ''">
                and sale_area = #{sale_area}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY t.id DESC
            </otherwise>
        </choose>
    </select>

    <update id="update" parameterType="com.taotaotech.domain.AgentClient">
        update agent_client
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="engName != null">
                eng_name = #{engName,jdbcType=VARCHAR},
            </if>
            <if test="attribution != null">
                attribution = #{attribution,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="chiefName != null">
                chief_name = #{chiefName,jdbcType=VARCHAR},
            </if>
            <if test="faxNo != null">
                fax_no = #{faxNo,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="whoseClient != null">
                whose_client = #{whoseClient,jdbcType=VARCHAR},
            </if>
            <if test="saleArea != null">
                sale_area = #{saleArea,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from agent_client
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_client
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agent_client
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.taotaotech.domain.AgentClient">
        insert into agent_client (code, name, eng_name, attribution,
        area_name, chief_name, fax_no,
        telephone, level, whose_client,
        sale_area, descript, create_date,
        update_date, del_flag)
        values (#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{engName,jdbcType=VARCHAR},
        #{attribution,jdbcType=VARCHAR},
        #{areaName,jdbcType=VARCHAR}, #{chiefName,jdbcType=VARCHAR}, #{faxNo,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{whoseClient,jdbcType=VARCHAR},
        #{saleArea,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
        #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.taotaotech.domain.AgentClient">
        insert into agent_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="engName != null">
                eng_name,
            </if>
            <if test="attribution != null">
                attribution,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="chiefName != null">
                chief_name,
            </if>
            <if test="faxNo != null">
                fax_no,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="whoseClient != null">
                whose_client,
            </if>
            <if test="saleArea != null">
                sale_area,
            </if>
            <if test="descript != null">
                descript,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="engName != null">
                #{engName,jdbcType=VARCHAR},
            </if>
            <if test="attribution != null">
                #{attribution,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="chiefName != null">
                #{chiefName,jdbcType=VARCHAR},
            </if>
            <if test="faxNo != null">
                #{faxNo,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="whoseClient != null">
                #{whoseClient,jdbcType=VARCHAR},
            </if>
            <if test="saleArea != null">
                #{saleArea,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.AgentClient">
        update agent_client
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="engName != null">
                eng_name = #{engName,jdbcType=VARCHAR},
            </if>
            <if test="attribution != null">
                attribution = #{attribution,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="chiefName != null">
                chief_name = #{chiefName,jdbcType=VARCHAR},
            </if>
            <if test="faxNo != null">
                fax_no = #{faxNo,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="whoseClient != null">
                whose_client = #{whoseClient,jdbcType=VARCHAR},
            </if>
            <if test="saleArea != null">
                sale_area = #{saleArea,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.AgentClient">
    update agent_client
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      eng_name = #{engName,jdbcType=VARCHAR},
      attribution = #{attribution,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      chief_name = #{chiefName,jdbcType=VARCHAR},
      fax_no = #{faxNo,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      whose_client = #{whoseClient,jdbcType=VARCHAR},
      sale_area = #{saleArea,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>