<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.BillMapper">
    <resultMap id="BaseResultMap" type="com.taotaotech.domain.Bill">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="two_level_code" property="twoLevelCode" jdbcType="VARCHAR"/>
        <result column="three_level_code" property="threeLevelCode" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, date, number,two_level_code,three_level_code,user_code
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bill
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.taotaotech.domain.Bill">
    insert into bill (id, code, date,user_code,two_level_code,three_level_code,
      number)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR},
    #{userCode,jdbcType=VARCHAR}, #{twoLevelCode,jdbcType=VARCHAR}, #{threeLevelCode,jdbcType=VARCHAR},
      #{number,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.taotaotech.domain.Bill">
        insert into bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="twoLevelCode != null">
                two_level_code,
            </if>
            <if test="threeLevelCode != null">
                three_level_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="userCode != null" >
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="twoLevelCode != null" >
                #{twoLevelCode,jdbcType=VARCHAR},
            </if>
            <if test="threeLevelCode != null" >
                #{threeLevelCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.Bill">
        update bill
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="userCode != null" >
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="twoLevelCode != null" >
                two_level_code = #{twoLevelCode,jdbcType=VARCHAR},
            </if>
            <if test="threeLevelCode != null" >
                three_level_code = #{threeLevelCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.Bill">
    update bill
    set code = #{code,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER}
      user_code = #{userCode,jdbcType=VARCHAR},
      two_level_code = #{twoLevelCode,jdbcType=VARCHAR},
      three_level_code = #{threeLevelCode,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findBillList" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from bill
    </select>
    <select id="existByBillCode" resultType="java.lang.Boolean">
    select
    COUNT(id)
    from bill
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>