<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.MedicineMapper" >
  <resultMap id="BaseResultMap" type="Medicine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="lot_number" property="lotNumber" jdbcType="VARCHAR" />
    <result column="validity_period" property="validityPeriod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, specification, manufacturer_name, units, price, lot_number, validity_period
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Medicine" >
    insert into medicine (id, code, name, 
      specification, manufacturer_name, units, 
      price, lot_number, validity_period)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{manufacturerName,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{lotNumber,jdbcType=VARCHAR}, #{validityPeriod,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name,
      </if>
      <if test="units != null" >
        units,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="lotNumber != null" >
        lot_number,
      </if>
      <if test="validityPeriod != null" >
        validity_period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="lotNumber != null" >
        #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null" >
        #{validityPeriod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Medicine" >
    update medicine
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        units = #{units,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="lotNumber != null" >
        lot_number = #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null" >
        validity_period = #{validityPeriod,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Medicine" >
    update medicine
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      units = #{units,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      validity_period = #{validityPeriod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findMedicineList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from medicine
  </select>

  <select id="existByMedicineCodeAndLotNumber" resultType="java.lang.Boolean">
    select
    COUNT(id)
    from medicine
    where  code = #{code,jdbcType=VARCHAR} AND lot_number = #{lotNumber,jdbcType=VARCHAR}
  </select>

  <delete id="delete" parameterType="java.util.List">
    DELETE FROM medicine WHERE id IN
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
  </delete>
</mapper>