<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.MedicineMapper" >
  <resultMap id="BaseResultMap" type="Medicine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="unique_code" property="uniqueCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="lot_number" property="lotNumber" jdbcType="VARCHAR" />
    <result column="validity_period" property="validityPeriod" jdbcType="VARCHAR" />
    <result column="package_number" property="packageNumber" jdbcType="INTEGER" />
    <result column="purchase_number" property="purchaseNumber" jdbcType="INTEGER" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, unique_code, name, specification, manufacturer_name, units, price, lot_number, validity_period, package_number, purchase_number, create_date, update_date, del_flag,descript
  </sql>

  <select id="get" resultMap="BaseResultMap" parameterType="Medicine" >
    select
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id}
  </select>

  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from medicine t
    <where>
      del_flag = 0
      <if test="code != null and code != ''">
        and code LIKE '%' #{code} '%'
      </if>
      <if test="name != null and name != ''">
        and name LIKE '%' #{name} '%'
      </if>
      <if test="specification != null and specification != ''">
        and specification = #{specification}
      </if>
      <if test="manufacturer_name != null and manufacturer_name != ''">
        and manufacturer_name = #{manufacturer_name}
      </if>
      <if test="units != null and units != ''">
        and units = #{units}
      </if>
      <if test="price != null and price != ''">
        and price = #{price}
      </if>
      <if test="lot_number != null and lot_number != ''">
        and lot_number = #{lot_number}
      </if>
      <if test="validity_period != null and validity_period != ''">
        and validity_period = #{validity_period}
      </if>
    </where>
    <choose>
      <when test="page !=null and page.orderBy != null and page.orderBy != ''">
        ORDER BY ${page.orderBy}
      </when>
      <otherwise>
        ORDER BY t.id DESC
      </otherwise>
    </choose>
  </select>

  <select id="findAllList" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM medicine
    WHERE del_flag = FALSE
    ORDER BY create_date DESC
  </select>

  <insert id="insert" parameterType="Medicine" >
    INSERT INTO medicine
    (<include refid="Base_Column_List" />)
    VALUES (
    #{id},
    #{code},
    #{name},
    #{specification},
    #{manufacturer_name},
    #{units},
    #{price},
    #{lot_number},
    #{validity_period},
    #{create_date},
    #{update_date},
    #{del_flag},
    #{descript}
    )
  </insert>

  <update id="update" parameterType="Medicine" >
    UPDATE medicine
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      units = #{units,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      validity_period = #{validityPeriod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="delete">
    UPDATE medicine SET
    del_flag = TRUE
    WHERE id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="uniqueCode != null" >
        unique_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name,
      </if>
      <if test="units != null" >
        units,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="lotNumber != null" >
        lot_number,
      </if>
      <if test="validityPeriod != null" >
        validity_period,
      </if>
      <if test="packageNumber != null" >
        package_number,
      </if>
      <if test="purchaseNumber != null" >
        purchase_number,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="descript != null" >
        descript,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCode != null" >
        #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="lotNumber != null" >
        #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null" >
        #{validityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="packageNumber != null" >
        #{packageNumber,jdbcType=INTEGER},
      </if>
      <if test="purchaseNumber != null" >
        #{purchaseNumber,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Medicine" >
    update medicine
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCode != null" >
        unique_code = #{uniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        units = #{units,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="lotNumber != null" >
        lot_number = #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="validityPeriod != null" >
        validity_period = #{validityPeriod,jdbcType=VARCHAR},
      </if>
      <if test="packageNumber != null" >
        package_number = #{packageNumber,jdbcType=INTEGER},
      </if>
      <if test="purchaseNumber != null" >
        purchase_number = #{purchaseNumber,jdbcType=INTEGER},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Medicine" >
    update medicine
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      units = #{units,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      lot_number = #{lotNumber,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      validity_period = #{validityPeriod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="existByMedicineCodeAndLotNumber" resultType="java.lang.Boolean">
    select
    COUNT(id)
    from medicine
    where  code = #{code,jdbcType=VARCHAR} AND lot_number = #{lotNumber,jdbcType=VARCHAR}
  </select>
</mapper>