<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.PolicyMapper">
  <resultMap id="BaseResultMap" type="Policy">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="regional" property="regional" jdbcType="VARCHAR"/>
    <result column="month" property="month" jdbcType="VARCHAR"/>
    <result column="medicine_code" property="medicineCode" jdbcType="VARCHAR"/>
    <result column="client_code" property="clientCode" jdbcType="VARCHAR"/>
    <result column="salesman_policy" property="salesmanPolicy" jdbcType="REAL"/>
    <result column="clinical_policy" property="clinicalPolicy" jdbcType="REAL"/>
    <result column="manufacturer_policy" property="manufacturerPolicy" jdbcType="REAL"/>
    <result column="two_level_policy" property="twoLevelPolicy" jdbcType="REAL"/>
    <result column="three_level_policy" property="threeLevelPolicy" jdbcType="REAL"/>
    <result column="add_policy1" property="addPolicy1" jdbcType="REAL"/>
    <result column="add_policy2" property="addPolicy2" jdbcType="REAL"/>
    <result column="add_policy3" property="addPolicy3" jdbcType="REAL"/>
    <result column="price" property="price" jdbcType="REAL"/>
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, regional, month, medicine_code, client_code, salesman_policy, clinical_policy,
    manufacturer_policy, two_level_policy, three_level_policy,
    add_policy1, add_policy2, add_policy3, price, create_date, update_date, del_flag
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="Policy">
    SELECT
    <include refid="Base_Column_List" />
    FROM medicine_policy
    where id = #{id}
  </select>

  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from medicine_policy t
    <where>
      del_flag = 0
      <if test="regional != null and regional != ''">
        AND regional = #{regional}
      </if>
      <if test="month != null and month != ''">
        AND month = #{month}
      </if>
      <if test="medicineCode != null and medicineCode != ''">
        AND medicine_code LIKE '%' #{medicineCode} '%'
      </if>
      <if test="clientCode != null and clientCode != ''">
        AND client_code LIKE '%' #{clientCode} '%'
      </if>
      <if test="salesmanPolicy != null and salesmanPolicy != ''">
        AND salesman_policy = #{salesmanPolicy}
      </if>
      <if test="clinicalPolicy != null and clinicalPolicy != ''">
        AND clinical_policy = #{clinicalPolicy}
      </if>
      <if test="manufacturerPolicy != null and manufacturerPolicy != ''">
        AND manufacturer_policy = #{manufacturerPolicy}
      </if>
      <if test="twoLevelPolicy != null and twoLevelPolicy != ''">
        AND two_level_policy = #{twoLevelPolicy}
      </if>
      <if test="threeLevelPolicy != null and threeLevelPolicy != ''">
        AND three_level_policy = #{threeLevelPolicy}
      </if>
      <if test="addPolicy1 != null and addPolicy1 != ''">
        AND add_policy1 = #{addPolicy1}
      </if>
      <if test="addPolicy2 != null and addPolicy2 != ''">
        AND add_policy2 = #{addPolicy2}
      </if>
      <if test="addPolicy3 != null and addPolicy3 != ''">
        AND add_policy3 = #{addPolicy3}
      </if>
      <if test="price != null and price != ''">
        AND price = #{price}
      </if>
    </where>
    <choose>
      <when test="page !=null and page.orderBy != null and page.orderBy != ''">
        ORDER BY ${page.orderBy}
      </when>
      <otherwise>
        ORDER BY create_date DESC
      </otherwise>
    </choose>
  </select>

  <select id="findAllList" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM medicine_policy
    WHERE del_flag = FALSE
    ORDER BY create_date DESC
  </select>

  <insert id="insert" parameterType="Policy" >
    INSERT INTO medicine_policy
    (<include refid="Base_Column_List" />)
    VALUES (
    #{id},
    #{regional},
    #{month},
    #{medicineCode},
    #{clientCode},
    #{salesmanPolicy},
    #{clinicalPolicy},
    #{manufacturerPolicy},
    #{twoLevelPolicy},
    #{threeLevelPolicy},
    #{addPolicy1},
    #{addPolicy2},
    #{addPolicy3},
    #{price},
    #{createDate},
    #{updateDate},
    #{delFlag}
    )
  </insert>

  <update id="update" parameterType="Policy" >
    UPDATE medicine_policy SET
    regional = #{regional},
    month = #{month},
    medicine_code = #{medicineCode},
    client_code = #{clientCode},
    salesman_policy = #{salesmanPolicy},
    clinical_policy = #{clinicalPolicy},
    manufacturer_policy = #{manufacturerPolicy},
    two_level_policy = #{twoLevelPolicy},
    three_level_policy = #{threeLevelPolicy},
    add_policy1 = #{addPolicy1},
    add_policy2 = #{addPolicy2},
    add_policy3 = #{addPolicy3},
    price = #{price},
    update_date = #{updateDate}
    WHERE id = #{id}
  </update>

  <!-- 逻辑删除用户 -->
  <update id="delete">
    UPDATE medicine_policy SET
    del_flag = TRUE
    WHERE id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from medicine_policy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from medicine_policy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="Policy">
    insert into medicine_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="regional != null">
        regional,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="medicineCode != null">
        medicine_code,
      </if>
      <if test="clientCode != null">
        client_code,
      </if>
      <if test="salesmanPolicy != null">
        salesman_policy,
      </if>
      <if test="clinicalPolicy != null">
        clinical_policy,
      </if>
      <if test="manufacturerPolicy != null">
        manufacturer_policy,
      </if>
      <if test="twoLevelPolicy != null">
        two_level_policy,
      </if>
      <if test="threeLevelPolicy != null">
        three_level_policy,
      </if>
      <if test="addPolicy1 != null">
        add_policy1,
      </if>
      <if test="addPolicy2 != null">
        add_policy2,
      </if>
      <if test="addPolicy3 != null">
        add_policy3,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regional != null">
        #{regional,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="medicineCode != null">
        #{medicineCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCode != null">
        #{clientCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanPolicy != null">
        #{salesmanPolicy,jdbcType=REAL},
      </if>
      <if test="clinicalPolicy != null">
        #{clinicalPolicy,jdbcType=REAL},
      </if>
      <if test="manufacturerPolicy != null">
        #{manufacturerPolicy,jdbcType=REAL},
      </if>
      <if test="twoLevelPolicy != null">
        #{twoLevelPolicy,jdbcType=REAL},
      </if>
      <if test="threeLevelPolicy != null">
        #{threeLevelPolicy,jdbcType=REAL},
      </if>
      <if test="addPolicy1 != null">
        #{addPolicy1,jdbcType=REAL},
      </if>
      <if test="addPolicy2 != null">
        #{addPolicy2,jdbcType=REAL},
      </if>
      <if test="addPolicy3 != null">
        #{addPolicy3,jdbcType=REAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Policy">
    update medicine_policy
    <set>
      <if test="regional != null">
        regional = #{regional,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="medicineCode != null">
        medicine_code = #{medicineCode,jdbcType=VARCHAR},
      </if>
      <if test="clientCode != null">
        client_code = #{clientCode,jdbcType=VARCHAR},
      </if>
      <if test="salesmanPolicy != null">
        salesman_policy = #{salesmanPolicy,jdbcType=REAL},
      </if>
      <if test="clinicalPolicy != null">
        clinical_policy = #{clinicalPolicy,jdbcType=REAL},
      </if>
      <if test="manufacturerPolicy != null">
        manufacturer_policy = #{manufacturerPolicy,jdbcType=REAL},
      </if>
      <if test="twoLevelPolicy != null">
        two_level_policy = #{twoLevelPolicy,jdbcType=REAL},
      </if>
      <if test="threeLevelPolicy != null">
        three_level_policy = #{threeLevelPolicy,jdbcType=REAL},
      </if>
      <if test="addPolicy1 != null">
        add_policy1 = #{addPolicy1,jdbcType=REAL},
      </if>
      <if test="addPolicy2 != null">
        add_policy2 = #{addPolicy2,jdbcType=REAL},
      </if>
      <if test="addPolicy3 != null">
        add_policy3 = #{addPolicy3,jdbcType=REAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Policy">
    update medicine_policy
    set regional = #{regional,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      medicine_code = #{medicineCode,jdbcType=VARCHAR},
      client_code = #{clientCode,jdbcType=VARCHAR},
      salesman_policy = #{salesmanPolicy,jdbcType=REAL},
      clinical_policy = #{clinicalPolicy,jdbcType=REAL},
      manufacturer_policy = #{manufacturerPolicy,jdbcType=REAL},
      two_level_policy = #{twoLevelPolicy,jdbcType=REAL},
      three_level_policy = #{threeLevelPolicy,jdbcType=REAL},
      add_policy1 = #{addPolicy1,jdbcType=REAL},
      add_policy2 = #{addPolicy2,jdbcType=REAL},
      add_policy3 = #{addPolicy3,jdbcType=REAL}
      price = #{price,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="existByMonthAndClientAndMedicine" resultType="java.lang.Boolean">
    select
    COUNT(id)
    from medicine_policy
    where  month = #{month,jdbcType=VARCHAR}
      AND medicine_code = #{medicineCode,jdbcType=VARCHAR}
      AND client_code = #{clientCode,jdbcType=VARCHAR}
  </select>
  <select id="getPolicyByMonthAndClientAndMedicine" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from medicine_policy
    where month = #{month,jdbcType=VARCHAR}
    AND medicine_code = #{medicineCode,jdbcType=VARCHAR}
    AND client_code = #{clientCode,jdbcType=VARCHAR}
  </select>

</mapper>