<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.PurchaseMoneytaxMapper" >
  <resultMap id="BaseResultMap" type="com.taotaotech.domain.PurchaseMoneytax" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="payment_category" property="paymentCategory" jdbcType="VARCHAR" />
    <result column="payment_mode" property="paymentMode" jdbcType="VARCHAR" />
    <result column="payment_money" property="paymentMoney" jdbcType="VARCHAR" />
    <result column="work_flow" property="workFlow" jdbcType="VARCHAR" />
    <result column="purchase_unit_price" property="purchaseUnitPrice" jdbcType="DECIMAL" />
    <result column="purchase_money" property="purchaseMoney" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="VARCHAR" />
    <result column="tax_pay_mode" property="taxPayMode" jdbcType="VARCHAR" />
    <result column="tax_pay_date" property="taxPayDate" jdbcType="TIMESTAMP" />
    <result column="invoice_number" property="invoiceNumber" jdbcType="INTEGER" />
    <result column="invoice_date" property="invoiceDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payment_category, payment_mode, payment_money, work_flow, purchase_unit_price, 
    purchase_money, tax, tax_pay_mode, tax_pay_date, invoice_number, invoice_date, create_date, 
    update_date, del_flag
  </sql>
   <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from purchase_moneytax
        where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.taotaotech.domain.PurchaseMoneytax">
    update purchase_moneytax
    set payment_category = #{paymentCategory,jdbcType=VARCHAR},
      payment_mode = #{paymentMode,jdbcType=VARCHAR},
      payment_money = #{paymentMoney,jdbcType=VARCHAR},
      work_flow = #{workFlow,jdbcType=VARCHAR},
      purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from purchase_moneytax t
        <where>
            del_flag = 0
            <if test="payment_category != null and payment_category != ''">
                and payment_category LIKE '%' #{payment_category} '%'
            </if>
            <if test="payment_mode != null and payment_mode != ''">
                and payment_mode LIKE '%' #{payment_mode} '%'
            </if>
            <if test="payment_money != null and payment_money != ''">
                and payment_money = #{payment_money}
            </if>
            <if test="work_flow != null and work_flow != ''">
                and work_flow = #{work_flow}
            </if>
            <if test="purchase_unit_price != null and purchase_unit_price != ''">
                and purchase_unit_price = #{purchase_unit_price}
            </if>
            <if test="purchase_money != null and purchase_money != ''">
                and purchase_money = #{purchase_money}
            </if>
            <if test="tax != null and tax != ''">
                and tax = #{tax}
            </if>
            <if test="tax_pay_mode != null and tax_pay_mode != ''">
                and tax_pay_mode = #{tax_pay_mode}
            </if>
            <if test="tax_pay_date != null and tax_pay_date != ''">
                and tax_pay_date = #{tax_pay_date}
            </if>
            <if test="invoice_number != null and invoice_number != ''">
                and invoice_number = #{invoice_number}
            </if>
            <if test="invoice_date != null and invoice_date != ''">
                and invoice_date = #{invoice_date}
            </if>
            <if test="create_date != null and create_date != ''">
                and create_date = #{create_date}
            </if>
            <if test="update_date != null and update_date != ''">
                and update_date = #{update_date}
            </if>
            <if test="del_flag != null and del_flag != ''">
                and del_flag = #{del_flag}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY t.id DESC
            </otherwise>
        </choose>
    </select>

    <update id="delete">
    UPDATE purchase_moneytax SET
    del_flag = TRUE
    WHERE id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase_moneytax
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase_moneytax
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.taotaotech.domain.PurchaseMoneytax" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_moneytax (payment_category, payment_mode, payment_money, 
      work_flow, purchase_unit_price, purchase_money, 
      tax, tax_pay_mode, tax_pay_date, 
      invoice_number, invoice_date, create_date, 
      update_date, del_flag)
    values (#{paymentCategory,jdbcType=VARCHAR}, #{paymentMode,jdbcType=VARCHAR}, #{paymentMoney,jdbcType=VARCHAR}, 
      #{workFlow,jdbcType=VARCHAR}, #{purchaseUnitPrice,jdbcType=DECIMAL}, #{purchaseMoney,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{taxPayMode,jdbcType=VARCHAR}, #{taxPayDate,jdbcType=TIMESTAMP}, 
      #{invoiceNumber,jdbcType=INTEGER}, #{invoiceDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.taotaotech.domain.PurchaseMoneytax" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_moneytax
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentCategory != null" >
        payment_category,
      </if>
      <if test="paymentMode != null" >
        payment_mode,
      </if>
      <if test="paymentMoney != null" >
        payment_money,
      </if>
      <if test="workFlow != null" >
        work_flow,
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price,
      </if>
      <if test="purchaseMoney != null" >
        purchase_money,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode,
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date,
      </if>
      <if test="invoiceNumber != null" >
        invoice_number,
      </if>
      <if test="invoiceDate != null" >
        invoice_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentCategory != null" >
        #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null" >
        #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.PurchaseMoneytax" >
    update purchase_moneytax
    <set >
      <if test="paymentCategory != null" >
        payment_category = #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        payment_mode = #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null" >
        payment_money = #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        work_flow = #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.PurchaseMoneytax" >
    update purchase_moneytax
    set payment_category = #{paymentCategory,jdbcType=VARCHAR},
      payment_mode = #{paymentMode,jdbcType=VARCHAR},
      payment_money = #{paymentMoney,jdbcType=VARCHAR},
      work_flow = #{workFlow,jdbcType=VARCHAR},
      purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>