<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.PurchasementMapper" >
  <resultMap id="BaseResultMap" type="com.taotaotech.domain.Purchasement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchase_sale_type" property="purchaseSaleType" jdbcType="VARCHAR" />
    <result column="purchase_pay_date" property="purchasePayDate" jdbcType="TIMESTAMP" />
    <result column="purchase_store_date" property="purchaseStoreDate" jdbcType="TIMESTAMP" />
    <result column="actual_store_place" property="actualStorePlace" jdbcType="VARCHAR" />
    <result column="purchase_sale_code" property="purchaseSaleCode" jdbcType="VARCHAR" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
    <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="package_number" property="packageNumber" jdbcType="INTEGER" />
    <result column="sale_company" property="saleCompany" jdbcType="VARCHAR" />
    <result column="buy_company" property="buyCompany" jdbcType="VARCHAR" />
    <result column="payment_category" property="paymentCategory" jdbcType="VARCHAR" />
    <result column="payment_mode" property="paymentMode" jdbcType="VARCHAR" />
    <result column="purchase_number" property="purchaseNumber" jdbcType="INTEGER" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="payment_money" property="paymentMoney" jdbcType="VARCHAR" />
    <result column="work_flow" property="workFlow" jdbcType="VARCHAR" />
    <result column="client_name" property="clientName" jdbcType="VARCHAR" />
    <result column="sale_area" property="saleArea" jdbcType="VARCHAR" />
    <result column="purchase_unit_price" property="purchaseUnitPrice" jdbcType="DECIMAL" />
    <result column="purchase_money" property="purchaseMoney" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="VARCHAR" />
    <result column="tax_pay_mode" property="taxPayMode" jdbcType="VARCHAR" />
    <result column="tax_pay_date" property="taxPayDate" jdbcType="TIMESTAMP" />
    <result column="invoice_number" property="invoiceNumber" jdbcType="INTEGER" />
    <result column="invoice_date" property="invoiceDate" jdbcType="TIMESTAMP" />
    <result column="if_check" property="ifCheck" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purchase_sale_type, purchase_pay_date, purchase_store_date, actual_store_place, 
    purchase_sale_code, medicine_name, medicine_unique_code, manufacturer_name, specification, units, package_number,
    sale_company, buy_company, payment_category, payment_mode, purchase_number, purchase_price, 
    payment_money, work_flow, client_name, sale_area, purchase_unit_price, purchase_money, 
    tax, tax_pay_mode, tax_pay_date, invoice_number, invoice_date, if_check, create_date, 
    update_date, del_flag
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchasement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchasement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="java.util.Map"  >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchasement (purchase_sale_type, purchase_pay_date, 
      purchase_store_date, actual_store_place, 
      purchase_sale_code, medicine_name, manufacturer_name, 
      specification, units, package_number, 
      sale_company, buy_company, payment_category, 
      payment_mode, purchase_number, purchase_price, 
      payment_money, work_flow, client_name, 
      sale_area, purchase_unit_price, purchase_money, 
      tax, tax_pay_mode, tax_pay_date, 
      invoice_number, invoice_date, if_check, 
      create_date, update_date, del_flag
      )
    values (#{purchaseSaleType,jdbcType=VARCHAR}, #{purchasePayDate,jdbcType=TIMESTAMP}, 
      #{purchaseStoreDate,jdbcType=TIMESTAMP}, #{actualStorePlace,jdbcType=VARCHAR}, 
      #{purchaseSaleCode,jdbcType=VARCHAR}, #{medicineName,jdbcType=VARCHAR}, #{manufacturerName,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, #{packageNumber,jdbcType=INTEGER}, 
      #{saleCompany,jdbcType=VARCHAR}, #{buyCompany,jdbcType=VARCHAR}, #{paymentCategory,jdbcType=VARCHAR}, 
      #{paymentMode,jdbcType=VARCHAR}, #{purchaseNumber,jdbcType=INTEGER}, #{purchasePrice,jdbcType=DECIMAL}, 
      #{paymentMoney,jdbcType=VARCHAR}, #{workFlow,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, 
      #{saleArea,jdbcType=VARCHAR}, #{purchaseUnitPrice,jdbcType=DECIMAL}, #{purchaseMoney,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{taxPayMode,jdbcType=VARCHAR}, #{taxPayDate,jdbcType=TIMESTAMP}, 
      #{invoiceNumber,jdbcType=INTEGER}, #{invoiceDate,jdbcType=TIMESTAMP}, #{ifCheck,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="java.util.Map"  >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchasement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseSaleType != null" >
        purchase_sale_type,
      </if>
      <if test="purchasePayDate != null" >
        purchase_pay_date,
      </if>
      <if test="purchaseStoreDate != null" >
        purchase_store_date,
      </if>
      <if test="actualStorePlace != null" >
        actual_store_place,
      </if>
      <if test="purchaseSaleCode != null" >
        purchase_sale_code,
      </if>
      <if test="medicineName != null" >
        medicine_name,
      </if>
      <if test="medicineUniqueCode != null" >
        medicine_unique_code,
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="units != null" >
        units,
      </if>
      <if test="packageNumber != null" >
        package_number,
      </if>
      <if test="saleCompany != null" >
        sale_company,
      </if>
      <if test="buyCompany != null" >
        buy_company,
      </if>
      <if test="paymentCategory != null" >
        payment_category,
      </if>
      <if test="paymentMode != null" >
        payment_mode,
      </if>
      <if test="purchaseNumber != null" >
        purchase_number,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="paymentMoney != null" >
        payment_money,
      </if>
      <if test="workFlow != null" >
        work_flow,
      </if>
      <if test="clientName != null" >
        client_name,
      </if>
      <if test="saleArea != null" >
        sale_area,
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price,
      </if>
      <if test="purchaseMoney != null" >
        purchase_money,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode,
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date,
      </if>
      <if test="invoiceNumber != null" >
        invoice_number,
      </if>
      <if test="invoiceDate != null" >
        invoice_date,
      </if>
      <if test="ifCheck != null" >
        if_check,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseSaleType != null" >
        #{purchaseSaleType,jdbcType=VARCHAR},
      </if>
      <if test="purchasePayDate != null" >
        #{purchasePayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseStoreDate != null" >
        #{purchaseStoreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStorePlace != null" >
        #{actualStorePlace,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSaleCode != null" >
        #{purchaseSaleCode,jdbcType=VARCHAR},
      </if>
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineUniqueCode != null" >
        #{medicineUniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="packageNumber != null" >
        #{packageNumber,jdbcType=INTEGER},
      </if>
      <if test="saleCompany != null" >
        #{saleCompany,jdbcType=VARCHAR},
      </if>
      <if test="buyCompany != null" >
        #{buyCompany,jdbcType=VARCHAR},
      </if>
      <if test="paymentCategory != null" >
        #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNumber != null" >
        #{purchaseNumber,jdbcType=INTEGER},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentMoney != null" >
        #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null" >
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="saleArea != null" >
        #{saleArea,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ifCheck != null" >
        #{ifCheck,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="java.util.Map" >
    update purchasement
    <set >
      <if test="purchaseSaleType != null" >
        purchase_sale_type = #{purchaseSaleType,jdbcType=VARCHAR},
      </if>
      <if test="purchasePayDate != null" >
        purchase_pay_date = #{purchasePayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseStoreDate != null" >
        purchase_store_date = #{purchaseStoreDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStorePlace != null" >
        actual_store_place = #{actualStorePlace,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSaleCode != null" >
        purchase_sale_code = #{purchaseSaleCode,jdbcType=VARCHAR},
      </if>
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineUniqueCode != null" >
        medicine_unique_code = #{medicineUniqueCode,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="units != null" >
        units = #{units,jdbcType=VARCHAR},
      </if>
      <if test="packageNumber != null" >
        package_number = #{packageNumber,jdbcType=INTEGER},
      </if>
      <if test="saleCompany != null" >
        sale_company = #{saleCompany,jdbcType=VARCHAR},
      </if>
      <if test="buyCompany != null" >
        buy_company = #{buyCompany,jdbcType=VARCHAR},
      </if>
      <if test="paymentCategory != null" >
        payment_category = #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        payment_mode = #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNumber != null" >
        purchase_number = #{purchaseNumber,jdbcType=INTEGER},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentMoney != null" >
        payment_money = #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        work_flow = #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null" >
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="saleArea != null" >
        sale_area = #{saleArea,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ifCheck != null" >
        if_check = #{ifCheck,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="java.util.Map"  >
    update purchasement
    set purchase_sale_type = #{purchaseSaleType,jdbcType=VARCHAR},
      purchase_pay_date = #{purchasePayDate,jdbcType=TIMESTAMP},
      purchase_store_date = #{purchaseStoreDate,jdbcType=TIMESTAMP},
      actual_store_place = #{actualStorePlace,jdbcType=VARCHAR},
      purchase_sale_code = #{purchaseSaleCode,jdbcType=VARCHAR},
      medicine_name = #{medicineName,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      units = #{units,jdbcType=VARCHAR},
      package_number = #{packageNumber,jdbcType=INTEGER},
      sale_company = #{saleCompany,jdbcType=VARCHAR},
      buy_company = #{buyCompany,jdbcType=VARCHAR},
      payment_category = #{paymentCategory,jdbcType=VARCHAR},
      payment_mode = #{paymentMode,jdbcType=VARCHAR},
      purchase_number = #{purchaseNumber,jdbcType=INTEGER},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      payment_money = #{paymentMoney,jdbcType=VARCHAR},
      work_flow = #{workFlow,jdbcType=VARCHAR},
      client_name = #{clientName,jdbcType=VARCHAR},
      sale_area = #{saleArea,jdbcType=VARCHAR},
      purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      if_check = #{ifCheck,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from purchasement
    <where>
        del_flag = 0
      <if test="purchaseSaleType != null" >
        AND purchase_sale_type = #{purchaseSaleType,jdbcType=VARCHAR}
      </if>
      <if test="purchasePayDate != null" >
        AND purchase_pay_date = #{purchasePayDate,jdbcType=TIMESTAMP}
      </if>
      <if test="purchaseStoreDate != null" >
        AND purchase_store_date = #{purchaseStoreDate,jdbcType=TIMESTAMP}
      </if>
      <if test="actualStorePlace != null" >
        AND actual_store_place = #{actualStorePlace,jdbcType=VARCHAR}
      </if>
      <if test="purchaseSaleCode != null" >
        AND purchase_sale_code = #{purchaseSaleCode,jdbcType=VARCHAR}
      </if>
      <if test="medicineName != null" >
        AND medicine_name = #{medicineName,jdbcType=VARCHAR}
      </if>
      <if test="medicineUniqueCode != null" >
        AND medicine_unique_code = #{medicineUniqueCode,jdbcType=VARCHAR}
      </if>
      <if test="manufacturerName != null" >
        AND manufacturer_name = #{manufacturerName,jdbcType=VARCHAR}
      </if>
      <if test="specification != null" >
        AND specification = #{specification,jdbcType=VARCHAR}
      </if>
      <if test="units != null" >
        AND units = #{units,jdbcType=VARCHAR}
      </if>
      <if test="packageNumber != null" >
        AND package_number = #{packageNumber,jdbcType=INTEGER}
      </if>
      <if test="saleCompany != null" >
        AND sale_company = #{saleCompany,jdbcType=VARCHAR}
      </if>
      <if test="buyCompany != null" >
        AND buy_company = #{buyCompany,jdbcType=VARCHAR}
      </if>
      <if test="paymentCategory != null" >
        AND payment_category = #{paymentCategory,jdbcType=VARCHAR}
      </if>
      <if test="paymentMode != null" >
        AND payment_mode = #{paymentMode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseNumber != null" >
        AND purchase_number = #{purchaseNumber,jdbcType=INTEGER}
      </if>
      <if test="purchasePrice != null" >
        AND purchase_price = #{purchasePrice,jdbcType=DECIMAL}
      </if>
      <if test="paymentMoney != null" >
        AND payment_money = #{paymentMoney,jdbcType=VARCHAR}
      </if>
      <if test="workFlow != null" >
        AND work_flow = #{workFlow,jdbcType=VARCHAR}
      </if>
      <if test="clientName != null" >
        AND client_name = #{clientName,jdbcType=VARCHAR}
      </if>
      <if test="saleArea != null" >
        AND sale_area = #{saleArea,jdbcType=VARCHAR}
      </if>
      <if test="purchaseUnitPrice != null" >
        AND purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL}
      </if>
      <if test="purchaseMoney != null" >
        AND purchase_money = #{purchaseMoney,jdbcType=VARCHAR}
      </if>
      <if test="tax != null" >
        AND tax = #{tax,jdbcType=VARCHAR}
      </if>
      <if test="taxPayMode != null" >
        AND tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR}
      </if>
      <if test="taxPayDate != null" >
        AND tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP}
      </if>
      <if test="invoiceNumber != null" >
        AND invoice_number = #{invoiceNumber,jdbcType=INTEGER}
      </if>
      <if test="invoiceDate != null" >
        AND invoice_date = #{invoiceDate,jdbcType=TIMESTAMP}
      </if>
      <if test="ifCheck != null" >
        AND if_check = #{ifCheck,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null" >
        AND create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDate != null" >
        AND update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="existByPurchaseSaleCode" parameterType="java.lang.String" resultType="java.lang.Boolean">
    SELECT COUNT(id)
    FROM purchasement
    WHERE purchase_sale_code = #{purchaseSaleCode,jdbcType=VARCHAR} AND del_flag = 0
  </select>


  <update id="delete" parameterType="java.lang.Integer">
    update purchasement set del_flag = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>