<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.PurchaseMoneytaxMapper" >
  <resultMap id="BaseResultMap" type="com.taotaotech.domain.PurchaseMoneytax2" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="payment_category" property="paymentCategory" jdbcType="VARCHAR" />
    <result column="payment_mode" property="paymentMode" jdbcType="VARCHAR" />
    <result column="payment_money" property="paymentMoney" jdbcType="VARCHAR" />
    <result column="work_flow" property="workFlow" jdbcType="VARCHAR" />
    <result column="purchase_unit_price" property="purchaseUnitPrice" jdbcType="DECIMAL" />
    <result column="purchase_money" property="purchaseMoney" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="VARCHAR" />
    <result column="tax_pay_mode" property="taxPayMode" jdbcType="VARCHAR" />
    <result column="tax_pay_date" property="taxPayDate" jdbcType="TIMESTAMP" />
    <result column="invoice_number" property="invoiceNumber" jdbcType="INTEGER" />
    <result column="invoice_date" property="invoiceDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payment_category, payment_mode, payment_money, work_flow, purchase_unit_price, 
    purchase_money, tax, tax_pay_mode, tax_pay_date, invoice_number, invoice_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase_moneytax
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase_moneytax
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.taotaotech.domain.PurchaseMoneytax2" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_moneytax (payment_category, payment_mode, payment_money, 
      work_flow, purchase_unit_price, purchase_money, 
      tax, tax_pay_mode, tax_pay_date, 
      invoice_number, invoice_date)
    values (#{paymentCategory,jdbcType=VARCHAR}, #{paymentMode,jdbcType=VARCHAR}, #{paymentMoney,jdbcType=VARCHAR}, 
      #{workFlow,jdbcType=VARCHAR}, #{purchaseUnitPrice,jdbcType=DECIMAL}, #{purchaseMoney,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{taxPayMode,jdbcType=VARCHAR}, #{taxPayDate,jdbcType=TIMESTAMP}, 
      #{invoiceNumber,jdbcType=INTEGER}, #{invoiceDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.taotaotech.domain.PurchaseMoneytax2" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase_moneytax
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentCategory != null" >
        payment_category,
      </if>
      <if test="paymentMode != null" >
        payment_mode,
      </if>
      <if test="paymentMoney != null" >
        payment_money,
      </if>
      <if test="workFlow != null" >
        work_flow,
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price,
      </if>
      <if test="purchaseMoney != null" >
        purchase_money,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode,
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date,
      </if>
      <if test="invoiceNumber != null" >
        invoice_number,
      </if>
      <if test="invoiceDate != null" >
        invoice_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentCategory != null" >
        #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null" >
        #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.PurchaseMoneytax2" >
    update purchase_moneytax
    <set >
      <if test="paymentCategory != null" >
        payment_category = #{paymentCategory,jdbcType=VARCHAR},
      </if>
      <if test="paymentMode != null" >
        payment_mode = #{paymentMode,jdbcType=VARCHAR},
      </if>
      <if test="paymentMoney != null" >
        payment_money = #{paymentMoney,jdbcType=VARCHAR},
      </if>
      <if test="workFlow != null" >
        work_flow = #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="purchaseUnitPrice != null" >
        purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMoney != null" >
        purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxPayMode != null" >
        tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxPayDate != null" >
        tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNumber != null" >
        invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null" >
        invoice_date = #{invoiceDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.PurchaseMoneytax2" >
    update purchase_moneytax
    set payment_category = #{paymentCategory,jdbcType=VARCHAR},
      payment_mode = #{paymentMode,jdbcType=VARCHAR},
      payment_money = #{paymentMoney,jdbcType=VARCHAR},
      work_flow = #{workFlow,jdbcType=VARCHAR},
      purchase_unit_price = #{purchaseUnitPrice,jdbcType=DECIMAL},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      tax_pay_mode = #{taxPayMode,jdbcType=VARCHAR},
      tax_pay_date = #{taxPayDate,jdbcType=TIMESTAMP},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>