<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotaotech.dao.RkOrderMapper">
  <resultMap id="BaseResultMap" type="com.taotaotech.domain.RkOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bill_date" jdbcType="VARCHAR" property="billDate" />
    <result column="c_storage_id" jdbcType="INTEGER" property="cStorageId" />
    <result column="medicine_id" jdbcType="INTEGER" property="medicineId" />
    <result column="sys_user_id" jdbcType="INTEGER" property="sysUserId" />
    <result column="d_client_id" jdbcType="INTEGER" property="dClientId" />
    <result column="p_delivery_id" jdbcType="INTEGER" property="pDeliveryId" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="high_unit_price" jdbcType="DECIMAL" property="highUnitPrice" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
    <result column="store_date" jdbcType="VARCHAR" property="storeDate" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="purchase_price" jdbcType="VARCHAR" property="purchasePrice" />
    <result column="purchase_money" jdbcType="VARCHAR" property="purchaseMoney" />
    <result column="sale_price" jdbcType="VARCHAR" property="salePrice" />
    <result column="sale_money" jdbcType="VARCHAR" property="saleMoney" />
    <result column="tax" jdbcType="VARCHAR" property="tax" />
    <result column="taxpay_mode" jdbcType="VARCHAR" property="taxpayMode" />
    <result column="taxpay_date" jdbcType="VARCHAR" property="taxpayDate" />
    <result column="invoice_number" jdbcType="INTEGER" property="invoiceNumber" />
    <result column="invoice_date" jdbcType="VARCHAR" property="invoiceDate" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bill_date, c_storage_id, medicine_id, sys_user_id, d_client_id, p_delivery_id, 
    unit_price, high_unit_price, pay_date, store_date, order_code, purchase_price, purchase_money, 
    sale_price, sale_money, tax, taxpay_mode, taxpay_date, invoice_number, invoice_date, 
    descript, create_date, update_date, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rk_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rk_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.taotaotech.domain.RkOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rk_order (bill_date, c_storage_id, medicine_id, 
      sys_user_id, d_client_id, p_delivery_id, 
      unit_price, high_unit_price, pay_date, 
      store_date, order_code, purchase_price, 
      purchase_money, sale_price, sale_money, 
      tax, taxpay_mode, taxpay_date, 
      invoice_number, invoice_date, descript, 
      create_date, update_date, del_flag
      )
    values (#{billDate,jdbcType=VARCHAR}, #{cStorageId,jdbcType=INTEGER}, #{medicineId,jdbcType=INTEGER}, 
      #{sysUserId,jdbcType=INTEGER}, #{dClientId,jdbcType=INTEGER}, #{pDeliveryId,jdbcType=INTEGER}, 
      #{unitPrice,jdbcType=DECIMAL}, #{highUnitPrice,jdbcType=DECIMAL}, #{payDate,jdbcType=VARCHAR}, 
      #{storeDate,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{purchasePrice,jdbcType=VARCHAR}, 
      #{purchaseMoney,jdbcType=VARCHAR}, #{salePrice,jdbcType=VARCHAR}, #{saleMoney,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{taxpayMode,jdbcType=VARCHAR}, #{taxpayDate,jdbcType=VARCHAR}, 
      #{invoiceNumber,jdbcType=INTEGER}, #{invoiceDate,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taotaotech.domain.RkOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rk_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billDate != null">
        bill_date,
      </if>
      <if test="cStorageId != null">
        c_storage_id,
      </if>
      <if test="medicineId != null">
        medicine_id,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="dClientId != null">
        d_client_id,
      </if>
      <if test="pDeliveryId != null">
        p_delivery_id,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="highUnitPrice != null">
        high_unit_price,
      </if>
      <if test="payDate != null">
        pay_date,
      </if>
      <if test="storeDate != null">
        store_date,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="purchaseMoney != null">
        purchase_money,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="saleMoney != null">
        sale_money,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="taxpayMode != null">
        taxpay_mode,
      </if>
      <if test="taxpayDate != null">
        taxpay_date,
      </if>
      <if test="invoiceNumber != null">
        invoice_number,
      </if>
      <if test="invoiceDate != null">
        invoice_date,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billDate != null">
        #{billDate,jdbcType=VARCHAR},
      </if>
      <if test="cStorageId != null">
        #{cStorageId,jdbcType=INTEGER},
      </if>
      <if test="medicineId != null">
        #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="dClientId != null">
        #{dClientId,jdbcType=INTEGER},
      </if>
      <if test="pDeliveryId != null">
        #{pDeliveryId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="highUnitPrice != null">
        #{highUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null">
        #{storeDate,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMoney != null">
        #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=VARCHAR},
      </if>
      <if test="saleMoney != null">
        #{saleMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxpayMode != null">
        #{taxpayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxpayDate != null">
        #{taxpayDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNumber != null">
        #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null">
        #{invoiceDate,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.RkOrder">
    update rk_order
    <set>
      <if test="billDate != null">
        bill_date = #{billDate,jdbcType=VARCHAR},
      </if>
      <if test="cStorageId != null">
        c_storage_id = #{cStorageId,jdbcType=INTEGER},
      </if>
      <if test="medicineId != null">
        medicine_id = #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null">
        sys_user_id = #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="dClientId != null">
        d_client_id = #{dClientId,jdbcType=INTEGER},
      </if>
      <if test="pDeliveryId != null">
        p_delivery_id = #{pDeliveryId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="highUnitPrice != null">
        high_unit_price = #{highUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="storeDate != null">
        store_date = #{storeDate,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMoney != null">
        purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=VARCHAR},
      </if>
      <if test="saleMoney != null">
        sale_money = #{saleMoney,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="taxpayMode != null">
        taxpay_mode = #{taxpayMode,jdbcType=VARCHAR},
      </if>
      <if test="taxpayDate != null">
        taxpay_date = #{taxpayDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNumber != null">
        invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      </if>
      <if test="invoiceDate != null">
        invoice_date = #{invoiceDate,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.RkOrder">
    update rk_order
    set bill_date = #{billDate,jdbcType=VARCHAR},
      c_storage_id = #{cStorageId,jdbcType=INTEGER},
      medicine_id = #{medicineId,jdbcType=INTEGER},
      sys_user_id = #{sysUserId,jdbcType=INTEGER},
      d_client_id = #{dClientId,jdbcType=INTEGER},
      p_delivery_id = #{pDeliveryId,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      high_unit_price = #{highUnitPrice,jdbcType=DECIMAL},
      pay_date = #{payDate,jdbcType=VARCHAR},
      store_date = #{storeDate,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=VARCHAR},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=VARCHAR},
      sale_money = #{saleMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      taxpay_mode = #{taxpayMode,jdbcType=VARCHAR},
      taxpay_date = #{taxpayDate,jdbcType=VARCHAR},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>