<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotaotech.dao.RkOrderMapper">
    <resultMap id="BaseResultMap" type="com.taotaotech.domain.RkOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bill_date" property="billDate" jdbcType="VARCHAR"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="medicine_id" property="medicineId" jdbcType="INTEGER"/>
        <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER"/>
        <result column="agent_client_id" property="agentClientId" jdbcType="INTEGER"/>
        <result column="provider_id" property="providerId" jdbcType="INTEGER"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="high_unit_price" property="highUnitPrice" jdbcType="DECIMAL"/>
        <result column="pay_date" property="payDate" jdbcType="VARCHAR"/>
        <result column="store_date" property="storeDate" jdbcType="VARCHAR"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="purchase_price" property="purchasePrice" jdbcType="VARCHAR"/>
        <result column="purchase_money" property="purchaseMoney" jdbcType="VARCHAR"/>
        <result column="tax" property="tax" jdbcType="VARCHAR"/>
        <result column="taxpay_mode" property="taxpayMode" jdbcType="VARCHAR"/>
        <result column="taxpay_date" property="taxpayDate" jdbcType="VARCHAR"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="INTEGER"/>
        <result column="invoice_date" property="invoiceDate" jdbcType="VARCHAR"/>
        <result column="descript" property="descript" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="units" property="units" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bill_date, warehouse_id, medicine_id, sys_user_id, agent_client_id, provider_id, 
    unit_price, high_unit_price, pay_date, store_date, order_code, purchase_price, purchase_money, 
    tax, taxpay_mode, taxpay_date, invoice_number, invoice_date,
    descript, create_date, update_date, del_flag,quantity,units
  </sql>

    <sql id="Base_Column_List_Dto">
        rk.id, bill_date, warehouse_id, medicine_id, sys_user_id, agent_client_id,
        provider_id, unit_price, high_unit_price, pay_date, store_date,
        order_code, purchase_price, purchase_money, tax, taxpay_mode, taxpay_date,
        invoice_number, invoice_date, rk.descript, rk.create_date, rk.update_date, rk.del_flag,
        quantity,rk.units,p.name as provider_name, w.name as warehouse_name,
        su.username as operator_name, m.name as medicine_name
    </sql>
    <resultMap id="BaseResultMapDTO" type="com.taotaotech.dto.RkOrderDTO" extends="BaseResultMap">
        <result column="provider_name" property="providerName" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="medicine_name" property="medicineName" jdbcType="VARCHAR"/>
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="get" resultMap="BaseResultMapDTO" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List_Dto"/>
        from rk_order rk, provider p, warehouse w, sys_user su, medicine m
        where rk.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="find" parameterType="java.util.Map" resultMap="BaseResultMapDTO">
        select
        <include refid="Base_Column_List_Dto"/>
        from rk_order rk, provider p, warehouse w, sys_user su, medicine m
        <where>
            rk.del_flag = 0 AND p.id = rk.provider_id and w.id = rk.warehouse_id
            and su.id = rk.sys_user_id AND m.id = rk.medicine_id
            <if test="billDate != null">
               AND bill_date = #{billDate,jdbcType=VARCHAR}
            </if>
            <if test="warehouseId != null">
                AND  warehouse_id = #{warehouseId,jdbcType=INTEGER}
            </if>
            <if test="medicineId != null">
                AND  medicine_id = #{medicineId,jdbcType=INTEGER}
            </if>
            <if test="sysUserId != null">
                AND sys_user_id = #{sysUserId,jdbcType=INTEGER}
            </if>
            <if test="agentClientId != null">
                AND agent_client_id = #{agentClientId,jdbcType=INTEGER}
            </if>
            <if test="providerId != null">
                AND provider_id = #{providerId,jdbcType=INTEGER}
            </if>
            <if test="unitPrice != null">
                AND unit_price = #{unitPrice,jdbcType=DECIMAL}
            </if>
            <if test="highUnitPrice != null">
                AND high_unit_price = #{highUnitPrice,jdbcType=DECIMAL}
            </if>
            <if test="payDate != null">
                AND pay_date = #{payDate,jdbcType=VARCHAR}
            </if>
            <if test="storeDate != null">
                AND store_date = #{storeDate,jdbcType=VARCHAR}
            </if>
            <if test="orderCode != null">
                AND order_code = #{orderCode,jdbcType=VARCHAR}
            </if>
            <if test="purchasePrice != null">
                AND purchase_price = #{purchasePrice,jdbcType=VARCHAR}
            </if>
            <if test="purchaseMoney != null">
                AND purchase_money = #{purchaseMoney,jdbcType=VARCHAR}
            </if>
            <if test="tax != null">
                AND tax = #{tax,jdbcType=VARCHAR}
            </if>
            <if test="taxpayMode != null">
                AND taxpay_mode = #{taxpayMode,jdbcType=VARCHAR}
            </if>
            <if test="taxpayDate != null">
                AND taxpay_date = #{taxpayDate,jdbcType=VARCHAR}
            </if>
            <if test="invoiceNumber != null">
                AND invoice_number = #{invoiceNumber,jdbcType=INTEGER}
            </if>
            <if test="invoiceDate != null">
                AND invoice_date = #{invoiceDate,jdbcType=VARCHAR}
            </if>
            <if test="descript != null">
                AND descript = #{descript,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>
    <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMapDTO">
        select
        <include refid="Base_Column_List_Dto"/>
        from rk_order rk, provider p, warehouse w, sys_user su, medicine m
        <where>
            rk.del_flag = 0 AND p.id = rk.provider_id and w.id = rk.warehouse_id
            and su.id = rk.sys_user_id AND m.id = rk.medicine_id
            <if test="billDate != null">
               AND bill_date = #{billDate,jdbcType=VARCHAR}
            </if>
            <if test="warehouseId != null">
                AND  warehouse_id = #{warehouseId,jdbcType=INTEGER}
            </if>
            <if test="medicineId != null">
                AND  medicine_id = #{medicineId,jdbcType=INTEGER}
            </if>
            <if test="sysUserId != null">
                AND sys_user_id = #{sysUserId,jdbcType=INTEGER}
            </if>
            <if test="agentClientId != null">
                AND agent_client_id = #{agentClientId,jdbcType=INTEGER}
            </if>
            <if test="providerId != null">
                AND provider_id = #{providerId,jdbcType=INTEGER}
            </if>
            <if test="unitPrice != null">
                AND unit_price = #{unitPrice,jdbcType=DECIMAL}
            </if>
            <if test="highUnitPrice != null">
                AND high_unit_price = #{highUnitPrice,jdbcType=DECIMAL}
            </if>
            <if test="payDate != null">
                AND pay_date = #{payDate,jdbcType=VARCHAR}
            </if>
            <if test="storeDate != null">
                AND store_date = #{storeDate,jdbcType=VARCHAR}
            </if>
            <if test="orderCode != null">
                AND order_code = #{orderCode,jdbcType=VARCHAR}
            </if>
            <if test="purchasePrice != null">
                AND purchase_price = #{purchasePrice,jdbcType=VARCHAR}
            </if>
            <if test="purchaseMoney != null">
                AND purchase_money = #{purchaseMoney,jdbcType=VARCHAR}
            </if>
            <if test="tax != null">
                AND tax = #{tax,jdbcType=VARCHAR}
            </if>
            <if test="taxpayMode != null">
                AND taxpay_mode = #{taxpayMode,jdbcType=VARCHAR}
            </if>
            <if test="taxpayDate != null">
                AND taxpay_date = #{taxpayDate,jdbcType=VARCHAR}
            </if>
            <if test="invoiceNumber != null">
                AND invoice_number = #{invoiceNumber,jdbcType=INTEGER}
            </if>
            <if test="invoiceDate != null">
                AND invoice_date = #{invoiceDate,jdbcType=VARCHAR}
            </if>
            <if test="descript != null">
                AND descript = #{descript,jdbcType=VARCHAR}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY rk.id DESC
            </otherwise>
        </choose>
    </select>

    <update id="update" parameterType="com.taotaotech.domain.RkOrder">
        update rk_order
        <set>
            <if test="billDate != null">
                bill_date = #{billDate,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=INTEGER},
            </if>
            <if test="medicineId != null">
                medicine_id = #{medicineId,jdbcType=INTEGER},
            </if>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=INTEGER},
            </if>
            <if test="agentClientId != null">
                agent_client_id = #{agentClientId,jdbcType=INTEGER},
            </if>
            <if test="providerId != null">
                provider_id = #{providerId,jdbcType=INTEGER},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="highUnitPrice != null">
                high_unit_price = #{highUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="payDate != null">
                pay_date = #{payDate,jdbcType=VARCHAR},
            </if>
            <if test="storeDate != null">
                store_date = #{storeDate,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                order_code = #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="purchasePrice != null">
                purchase_price = #{purchasePrice,jdbcType=VARCHAR},
            </if>
            <if test="purchaseMoney != null">
                purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
            </if>
            <if test="tax != null">
                tax = #{tax,jdbcType=VARCHAR},
            </if>
            <if test="taxpayMode != null">
                taxpay_mode = #{taxpayMode,jdbcType=VARCHAR},
            </if>
            <if test="taxpayDate != null">
                taxpay_date = #{taxpayDate,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNumber != null">
                invoice_number = #{invoiceNumber,jdbcType=INTEGER},
            </if>
            <if test="invoiceDate != null">
                invoice_date = #{invoiceDate,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=BIT},
            </if>
            <if test="units != null">
                units = #{units,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from rk_order
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from rk_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rk_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.taotaotech.domain.RkOrder">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into rk_order (bill_date, warehouse_id, medicine_id,
        sys_user_id, agent_client_id, provider_id,
        unit_price, high_unit_price, pay_date,
        store_date, order_code, purchase_price,
        purchase_money,
        tax, taxpay_mode, taxpay_date,
        invoice_number, invoice_date, descript,
        create_date, update_date, del_flag,quantity,units
        )
        values (#{billDate,jdbcType=VARCHAR}, #{warehouseId,jdbcType=INTEGER}, #{medicineId,jdbcType=INTEGER},
        #{sysUserId,jdbcType=INTEGER}, #{agentClientId,jdbcType=INTEGER}, #{providerId,jdbcType=INTEGER},
        #{unitPrice,jdbcType=DECIMAL}, #{highUnitPrice,jdbcType=DECIMAL}, #{payDate,jdbcType=VARCHAR},
        #{storeDate,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{purchasePrice,jdbcType=VARCHAR},
        #{purchaseMoney,jdbcType=VARCHAR},
        #{tax,jdbcType=VARCHAR}, #{taxpayMode,jdbcType=VARCHAR}, #{taxpayDate,jdbcType=VARCHAR},
        #{invoiceNumber,jdbcType=INTEGER}, #{invoiceDate,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT},
        #{quantity,jdbcType=INTEGER}, #{units,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.taotaotech.domain.RkOrder">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into rk_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billDate != null">
                bill_date,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="medicineId != null">
                medicine_id,
            </if>
            <if test="sysUserId != null">
                sys_user_id,
            </if>
            <if test="agentClientId != null">
                agent_client_id,
            </if>
            <if test="providerId != null">
                provider_id,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="highUnitPrice != null">
                high_unit_price,
            </if>
            <if test="payDate != null">
                pay_date,
            </if>
            <if test="storeDate != null">
                store_date,
            </if>
            <if test="orderCode != null">
                order_code,
            </if>
            <if test="purchasePrice != null">
                purchase_price,
            </if>
            <if test="purchaseMoney != null">
                purchase_money,
            </if>
            <if test="tax != null">
                tax,
            </if>
            <if test="taxpayMode != null">
                taxpay_mode,
            </if>
            <if test="taxpayDate != null">
                taxpay_date,
            </if>
            <if test="invoiceNumber != null">
                invoice_number,
            </if>
            <if test="invoiceDate != null">
                invoice_date,
            </if>
            <if test="descript != null">
                descript,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="units != null">
                units,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billDate != null">
                #{billDate,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=INTEGER},
            </if>
            <if test="medicineId != null">
                #{medicineId,jdbcType=INTEGER},
            </if>
            <if test="sysUserId != null">
                #{sysUserId,jdbcType=INTEGER},
            </if>
            <if test="agentClientId != null">
                #{agentClientId,jdbcType=INTEGER},
            </if>
            <if test="providerId != null">
                #{providerId,jdbcType=INTEGER},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="highUnitPrice != null">
                #{highUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="payDate != null">
                #{payDate,jdbcType=VARCHAR},
            </if>
            <if test="storeDate != null">
                #{storeDate,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="purchasePrice != null">
                #{purchasePrice,jdbcType=VARCHAR},
            </if>
            <if test="purchaseMoney != null">
                #{purchaseMoney,jdbcType=VARCHAR},
            </if>

            <if test="tax != null">
                #{tax,jdbcType=VARCHAR},
            </if>
            <if test="taxpayMode != null">
                #{taxpayMode,jdbcType=VARCHAR},
            </if>
            <if test="taxpayDate != null">
                #{taxpayDate,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNumber != null">
                #{invoiceNumber,jdbcType=INTEGER},
            </if>
            <if test="invoiceDate != null">
                #{invoiceDate,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BIT},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="units != null">
                #{units,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.RkOrder">
        update rk_order
        <set>
            <if test="billDate != null">
                bill_date = #{billDate,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=INTEGER},
            </if>
            <if test="medicineId != null">
                medicine_id = #{medicineId,jdbcType=INTEGER},
            </if>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=INTEGER},
            </if>
            <if test="agentClientId != null">
                agent_client_id = #{agentClientId,jdbcType=INTEGER},
            </if>
            <if test="providerId != null">
                provider_id = #{providerId,jdbcType=INTEGER},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="highUnitPrice != null">
                high_unit_price = #{highUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="payDate != null">
                pay_date = #{payDate,jdbcType=VARCHAR},
            </if>
            <if test="storeDate != null">
                store_date = #{storeDate,jdbcType=VARCHAR},
            </if>
            <if test="orderCode != null">
                order_code = #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="purchasePrice != null">
                purchase_price = #{purchasePrice,jdbcType=VARCHAR},
            </if>
            <if test="purchaseMoney != null">
                purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
            </if>
            <if test="tax != null">
                tax = #{tax,jdbcType=VARCHAR},
            </if>
            <if test="taxpayMode != null">
                taxpay_mode = #{taxpayMode,jdbcType=VARCHAR},
            </if>
            <if test="taxpayDate != null">
                taxpay_date = #{taxpayDate,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNumber != null">
                invoice_number = #{invoiceNumber,jdbcType=INTEGER},
            </if>
            <if test="invoiceDate != null">
                invoice_date = #{invoiceDate,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=BIT},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=BIT},
            </if>
            <if test="units != null">
                units = #{units,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.RkOrder">
    update rk_order
    set bill_date = #{billDate,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      medicine_id = #{medicineId,jdbcType=INTEGER},
      sys_user_id = #{sysUserId,jdbcType=INTEGER},
      agent_client_id = #{agentClientId,jdbcType=INTEGER},
      provider_id = #{providerId,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      high_unit_price = #{highUnitPrice,jdbcType=DECIMAL},
      pay_date = #{payDate,jdbcType=VARCHAR},
      store_date = #{storeDate,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=VARCHAR},
      purchase_money = #{purchaseMoney,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      taxpay_mode = #{taxpayMode,jdbcType=VARCHAR},
      taxpay_date = #{taxpayDate,jdbcType=VARCHAR},
      invoice_number = #{invoiceNumber,jdbcType=INTEGER},
      invoice_date = #{invoiceDate,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      units = #{units,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>