<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotaotech.dao.WarehouseMapper">
    <resultMap id="BaseResultMap" type="com.taotaotech.domain.Warehouse">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="link_man" jdbcType="VARCHAR" property="linkMan"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="descript" jdbcType="VARCHAR" property="descript"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,code ,name, link_man, telephone, address, descript, create_date, update_date, del_flag
  </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse t
        <where>
            del_flag = 0
            <if test="name != null and name != ''">
                AND  name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="linkMan != null and linkMan != ''">
                AND link_man = #{linkMan,jdbcType=VARCHAR}
            </if>
            <if test="telephone != null">
                AND  telephone = #{telephone,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                AND  address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="descript != null">
                AND  descript = #{descript,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null">
                AND  update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
        limit 1
    </select>

    <select id="findList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse t
        <where>
            del_flag = 0
            <if test="name != null and name != ''">
              AND  name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="linkMan != null and linkMan != ''">
                AND link_man = #{linkMan,jdbcType=VARCHAR}
            </if>
            <if test="telephone != null">
                AND  telephone = #{telephone,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                AND  address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="descript != null">
                AND  descript = #{descript,jdbcType=VARCHAR}
            </if>
            <if test="updateDate != null">
                AND  update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY t.id DESC
            </otherwise>
        </choose>
    </select>

    <update id="update" parameterType="com.taotaotech.domain.Warehouse">
        update warehouse
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                link_man = #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from warehouse
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.taotaotech.domain.Warehouse">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into warehouse (code,name, link_man, telephone,
        address, descript, create_date,
        update_date, del_flag)
        values (#{name,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
        #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.taotaotech.domain.Warehouse">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="linkMan != null">
                link_man,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="descript != null">
                descript,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                #{descript,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.taotaotech.domain.Warehouse">
        update warehouse
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                link_man = #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="descript != null">
                descript = #{descript,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.taotaotech.domain.Warehouse">
    update warehouse
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>